/*******************/
/* OVERALL THEME   */
/*******************/

*{
	box-sizing: border-box;
}

.btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker','Open Sans','Helvetica Neue',Arial,sans-serif;
}

.navbar{
	font-size: 14px;
}

h2{
	text-shadow: 2px 2px #F10000;
}

.fa-angle-double-up{
	color:white;
}

body,
html{
	height:100%;
	width:100%;
	font-size:0;
	color:#aaa;
}
body{
	background-color:#aaa;
	font-family:'Permanent Marker','Helvetica Neue',Arial,sans-serif;
}

.content-inner{
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

section{
	padding:100px 0;
}

section h2{
	text-align: center;
}

/**********************/
/* NAVIGATION STYLING */
/**********************/
nav{
	font-size:14px;
}

.navbar-toggle{
	border:1px solid white;
	color:#fff;
}
.navbar-fixed-top{
	background-color: #000;
}
.container-fluid{
	padding: 0 5% 0 5%;
}
.navbar-toggle:hover{
	color:#f10000;
}
a.navbar-brand{
	color: #f10000;
}
a.navbar-brand:hover{
	color:white;

}
#myCollapsingList li a{
	color:#f10000;
}
#myCollapsingList li.active a{
	color:white;
}
#myCollapsingList li a:hover{
	color:white;
}

/******************/
/* HEADER STYLING */
/******************/


header{
	background-image:url(../img/westland/room/Ejector-Seat-216b.jpg);
	position:relative;
	width:100%;
	text-align:center;
	color:white;
	background-color:white;
	background-size: cover;
	background-position:center;
	min-height:100%;
	font-size:14px;
	padding-top:50px;
}

header .carousel .item{
	Xheight:500px;
}

header .carousel .item img {
    Xposition: absolute;
    Xtop: 0;
    Xleft: 0;
    Xmin-height: 300px;
}


header p{
	font-size:1.2em;
	opacity:0.7;
	text-align:center;
	padding:10px;
}
#homeHeading{
	color: #f10000;
	font-size:5em;
}
.btn-primary,
.btn-primary:hover{
	border:2px solid #ffffff;
	background-color:#f10000;
	border:0;
	border-radius:15px;
	padding:15px;
	opacity:0.8;
}
.btn-primary:hover{
	background-color:white;
	color:#f10000;
	border:2px solid #f10000;
}
h1{
	font-size:4em;
}

a{
	transition: all .35s;
}

hr{
	background-color:#f10000;
	height:3px;
	border:0;
	width:7%;
}


header p{
	margin: 20px;
}
/*******************/
/* ABOUT SECTION */
/*******************/
#about{
	background-color: white;
	font-size:14px;
	color:#000;
}

/*******************/
/* MEMBER SECTION */
/*******************/
#member{
	xbackground-color: #fff;
	background-image:url(../img/westland/room/Ejector-Seat-127d.jpg);
	position:relative;
	width:100%;
	text-align:center;
	color:white;
	background-color:white;
	background-size: cover;
	background-position:center;
	min-height:100%;
	font-size:14px;
}
#member a{
	color:#f10000;
}
#member a:hover{
	xcolor:#aaa;
	text-decoration:none;
}

#member h2{
	xcolor:#aaa;
}

#member-hide{
	dipaly:none;
}

.thumb{
	xbackground-color:grey;
	background-image:url(../img/bg/scratched2_bw.png);
	opacity:0.9;
	border-radius: 25px;
	padding:1em;
	margin:0.5em;
}

#member_details{
	background-image:url(../img/bg/scratched2_bw.png);
	opacity:0.9;
	border-radius: 25px;
	padding:1em;
	margin-top:2em;
	border:1px solid #aaa;
}

#member .thumb:hover{
	opacity:1;
	color:#aaa;
	box-shadow: 5px 5px 5px #ffffff;
	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
}

#member .fa-caret-square-o-down:hover,
#member .fa-caret-square-o-left:hover,
#member .fa-caret-square-o-up:hover,
#member .fa-caret-square-o-right:hover{
	transform:rotate(90deg);
}

#member #cormac_details,
#member #hugh_details,
#member #davy_details,
#member #freek_details{
	padding:1em;
	margin-top:1em;
	background-image:url(../img/bg/scratched2_bw.png);
	color:white;
	opacity:0.9;
	border:1px solid #f10000;
	border-radius:25px;
}

.fa-4x{
	color:#f10000;
}
.fa-4x:hover{
	xcolor:#aaa;
}
.service-box h3{
	opacity:0.8;
}
.text-muted{
	opacity: 0.8;
}

/******************/
/* GALLERY SECTION*/
/******************/
#gallery{
	background-color:#fff;
	color:white;
	font-size:14px;
	color:#000;
}
#gallery ul{
	display:flex;
}
#gallery ul li{
	flex: 1;
	list-style-type: none;
}
#gallery ul li a{
	display: block;
	xcolor:white;
}

#gallery a{
	color:white;
}

#galler h2,
#gallery a:hover{
	color:#aaa;
}
#gallery_main_container{
	font-size:14px;
	color:white;
}

#gallery .thumb:hover{
	opacity:1;
	color:#aaa;
	box-shadow: 5px 5px 5px #aaa;
	transition: box-shadow 0.5s;
	-webkit-transition: box-shadow 0.5s;
}

#gallery .thumb{
	padding:2em;
}

#gallery .fa-camera:hover,
#gallery .fa-camera-retro:hover,
#gallery .fa-paint-brush:hover{
	transform:rotate(90deg);
}


/*********************/
/* GALLERY SUB PAGE */
/*********************/

#gallery_live,
#gallery_studio,
#gallery_artwork{
	padding:5em 0 5em 0;
}

#gallery_live{
	background-image:url(../img/westland/room/Ejector-Seat-34.jpg);
}
#gallery_studio{
	xbackground-image:url(../img/bg/scratched2_bw.png);
	background-color: #aaa;
	color:white;
}
#gallery_artwork{
	background-image:url(../img/bg/scratched2_bw.png);
	color:white;
}

.galleries ul{
	xdisplay:flex;
}
.galleries li{
	xlist-style-type: none;
	xflex:1;
}
.galleries a{
	xcolor: white;
}
.galleries .fa-2x,
.galleries .glyphicon-chevron-left,
.galleries .glyphicon-chevron-right,
.galleries .carousel-caption{
	color:#f10000;
}

/*****************/
/* MUSIC SECTION */
/*****************/
#music{
	background-image:url(../img/westland/room/Ejector-Seat-34.jpg);
	font-size:14px;

}
#music #accordion{
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

#music .panel-heading{
	background-color: #aaa;
	color:white;
}

.music-section{
	color:#aaa;
}

/*****************/
/* VIDEO SECTION */
/*****************/
#video{
	background-image:url(../img/bg/scratched2_bw.png);
	position:relative;
	width:100%;
	text-align:center;
	color:white;
	background-color:white;
	background-size: cover;
	background-position:center;
	min-height:100%;
	font-size:14px;
}

/*******************/
/* CONTACT SECTION */
/*******************/
#contact{
	font-size:14px;
	xbackground-image:url(../img/bg/bg-noise.png);
	background-color:black;
	color:#FFFFFF;
}
#contact hr{
	background-color:#FFFFFF;
}
#contact .fa-3x,
#contact a{
	color:#ffffff;
}
#contactsRow{
	margin-top: 3em;
}
#contact .sr-contact{
	color:#FFFFFF;
}
.fa{
	; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; 
}
.contact_form_element,
.contact_form_element:active,
.contact_form_element:visited,
.contact_form_element:enabled,
.contact_form_element:focus,
.contact_form_element option{
	color:#FFFFFF;
	background-color:#f10000;
	border:1px solid white;
}
.contact_form_element{
	margin-bottom:1em;
}
.contact_form_element:active{

}
#contact_send_btn{
	margin-top:1em;
	color:#000000;
}
#contact_send_btn:hover{
	color: #f10000;
}
.form_error{
	color:#aaa;
}
.nb_red{
	color: #f10000;
}
.nb_white{
	color: #ffffff;
}
.loading_spinner{
	font-size:70px;
	margin:1em;
}
.form_button{
	background-color: #f10000;
}
.form_button:hover{
	color:white;
}
#quote_action_buttons{
	margin: 1em;
	padding: 1em;
	border-top: 1px solid white;
}
#quote_string,
#quote_action_buttons{
	text-align:center;
}
.resized_textbox{
	width: 90%;
}