
<div id="gallery_main_container">
	<div id="gallery1">
		<h3>Gallery 1</h3>
		<ul>
			<li><a href="#gallery?scrollTo=gallery2">Next Gallery</a></li>
			<li><a href="#test?scrollTo=top">Home</a></li>
		</ul>
	</div>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<div id="gallery2">
		<h3>Gallery 2</h3>
		<ul>
			<li><a href="#gallery?scrollTo=gallery1">Previous Gallery</a></li>
			<li><a href="#gallery?scrollTo=gallery3">Next Gallery</a></li>
			<li><a href="#test?scrollTo=top">Home</a></li>
		</ul>
	</div>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<div id="gallery3">
		<h3>Gallery 3</h3>
		<ul>
			<li><a href="#gallery?scrollTo=gallery2">Previous Gallery</a></li>
			<li><a href="#gallery?scrollTo=gallery4">Next Gallery</a></li>
			<li><a href="#test?scrollTo=top">Home</a></li>
		</ul>
	</div>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<div id="gallery4">
		<h3>Gallery 4</h3>
		<ul>
			<li><a href="#gallery?scrollTo=gallery2">Previous Gallery</a></li>
			<li><a href="#test?scrollTo=top">Home</a></li>
		</ul>
	</div>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<div id="bar">
	  <p>This is bar.</p>
	  <a href="#test?scrollTo=top">Back to Test Page</a>
	</div>
</div>