<!-- NAVIGATION -->

<nav class="navbar navbar-fixed-top affix" ng-controller="NavController">
	<div class="container-fluid">
		<div class="navbar-header">
	
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList" area-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="glyphicon glyphicon-arrow-down"></span>
				Menu
			</button>
			<a class="navbar-brand" href="#">Night Blind</a>
		</div>
		<div class="collapse navbar-collapse" id="myCollapsingList" >
			<ul class="nav navbar-nav navbar-right">
				<li data-ng-repeat="link in links">
					<a href="#{{link.href}}">{{link.title}}</a>
				</li>
			</ul>
		</div>
	</div>
</nav>



<!-- HOME -->
<header id="home">
	<div class="content-inner">
		<div id="carousel-home" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img class="img-responsive center-block" src="img/random/carousel_2.png" alt="Night Blind logo">
		    </div>
		    <div class="item">
		      <img class="img-responsive center-block" src="img/rockathon/rockathon_band5.png" alt="Night Blind at Rockathon">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		   	<div class="item">
		      <img class="img-responsive center-block" src="img/rockathon/flame_cormac3_no_bg.png" alt="Night Blind at Rockathon">
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    ...
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</header>

<!-- ABOUT -->
<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text center">
				<h2 class="section-heading">About the Band
					<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="light">
				<p class="col-lg-8 col-lg-offset-2 text-center text-faded">
					Formed in in Dublin in 2011 with the aim of playing original Rock Music with a bluesy edge in the vein of Alice In Chains, Soundgarden, Gun's N'Roses, Captain Beefheart, Thin Lizzy, ACDC, Faith No More, The Doors etc etc
					We work hard at what we do and have achieved good acclaim with audiences and promoters alike in Dublin venues such as Sweeneys, Whelans, Grand Social and various house parties
					The band is currently in the studio working on their second 6 track EP.
				<!--<a href="#member" class="page-scroll btn btn-default btn-xl sr-button" id="getStartedBtn" data-sr-id="6">Get Started</a>-->
			</div>
		</div>
	</div>
</section> 

<!-- MEMBERS -->
<section id="member" ng-controller="MemberController">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">member
					<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<!--<div class="service-box">-->
				
					<div class="thumb" id="cormacThumb">
						<i class="fa fa-4x fa-caret-square-o-down" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-1 text-primary sr-icons" data-sr-id="2"></i>-->
						<div class="caption">
							<h3>Cormac</h3>
						</div>
					</div>
				
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="hughThumb">
						<i class="fa fa-4x fa-caret-square-o-left" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-2 text-primary sr-icons" data-sr-id="3"></i>-->
						<h3>Hugh</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="davyThumb">	
						<i class="fa fa-4x fa-caret-square-o-up" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-3 text-primary sr-icons" data-sr-id="4"></i>-->
						<h3>Davy</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="freekThumb">
						<i class="fa fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-diamond text-primary sr-icons" data-sr-id="5"></i>-->
						<h3>Freek</h3>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 text-center" id="member_details">
				<!--<ul>
					<li ng-repeat="member in members">
						<h2>{{ member.name }}</h2>
						<h3>{{ member.instrument}}</h3>
					</li>
				</ul>-->
				<h2>{{ name }}</h2>
				<h3>{{ instrument }}</h3>
				<h3>{{ gear }}</h3>
			</div>
		</div>
	</div>
</section>

<!-- GALLERY -->
<section id="gallery" ng-controller="GalleryController">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Gallery
					<a href="" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="content-inner">
					<div id="carousel-gallery" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					    	<a href="/#gallery_live">
								<img src="img/gallery/ep_cover.png" alt="EP front Cover" class="carousel_image">
								</a>
								<div class="carousel-caption">
									Cover of "Take Forever" EP
								</div>

					    </div>
					    <div class="item">
					      <img src="img/gallery/1.png" alt="..." >
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					 	<div class="item">
					      <img src="img/gallery/2.png" alt="...">
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					    <div class="item">
					      <img src="img/gallery/3.png" alt="...">
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					    <div class="item">
					      <img src="img/gallery/4.png" alt="...">
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					    <div class="item">
					      <img src="img/gallery/5.png" alt="...">
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					    <div class="item">
					      <img src="img/gallery/6.png" alt="...">
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					    <div class="item">
					      <img src="img/gallery/7.png" alt="...">
					      <div class="carousel-caption">
					        ...
					      </div>
					    </div>
					    ...
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-gallery" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-gallery" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
				</div>
			</div>
		</div>
		<hr class="primary">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="container">
					<ul>
						<li><a href="#gallery?scrollTo=gallery1">Live Images</a></li>
						<li><a href="#gallery?scrollTo=gallery2">Studio Images</a></li>
						<li><a href="#gallery?scrollTo=gallery3">Artwork</a></li>
						<li><a href="#gallery?scrollTo=gallery4">Gallery 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<!--<div class="service-box">-->
				
					<div class="thumb" id="cormacThumb">
						<a href="#gallery?scrollTo=gallery1">
							<i class="fa fa-4x fa-camera" aria-hidden="true"></i>
							<!--<i class="fa fa-4x fa-thermometer-1 text-primary sr-icons" data-sr-id="2"></i>-->
							<div class="caption">
								<h3>Live Images</h3>
							</div>
						</a>
					</div>
				
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="hughThumb">
						<a href="#gallery?scrollTo=gallery2">
							<i class="fa fa-4x fa-camera-retro" aria-hidden="true"></i>
							<!--<i class="fa fa-4x fa-thermometer-2 text-primary sr-icons" data-sr-id="3"></i>-->
							<h3>Studio Images</h3>
						</a>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="davyThumb">	
						<a href="#gallery?scrollTo=gallery3">
							<i class="fa fa-4x fa-paint-brush" aria-hidden="true"></i>
							<!--<i class="fa fa-4x fa-thermometer-3 text-primary sr-icons" data-sr-id="4"></i>-->
							<h3>Artwork</h3>
						</a>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>