<div ng-include src="'partials/directives/nav-partial.html'"></div>
<div ng-include src="'partials/directives/home-partial.html'"></div>
<div ng-include src="'partials/directives/about-partial.html'"></div>
<div ng-include src="'partials/directives/member-partial.html'"></div>
<div ng-include src="'partials/directives/gallery-partial.html'"></div>
<div ng-include src="'partials/directives/music-partial.html'"></div>
<div ng-include src="'partials/directives/video-partial.html'"></div>
<div ng-include src="'partials/directives/contact-partial.html'"></div>