<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text center">
				<h2 class="section-heading">About the Band
					<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="light">
				<p class="col-lg-8 col-lg-offset-2 text-center text-faded">
					Formed in in Dublin in 2011 with the aim of playing original Rock Music with a bluesy edge in the vein of Alice In Chains, Soundgarden, Gun's N'Roses, Captain Beefheart, Thin Lizzy, ACDC, Faith No More, The Doors etc etc
					We work hard at what we do and have achieved good acclaim with audiences and promoters alike in Dublin venues such as Sweeneys, Whelans, Grand Social and various house parties
					The band is currently in the studio working on their second 6 track EP.
				<!--<a href="#member" class="page-scroll btn btn-default btn-xl sr-button" id="getStartedBtn" data-sr-id="6">Get Started</a>-->
			</div>
		</div>
	</div>
</section> 