<section id="contact">
	<div class="container" ng-controller="ContactController">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center" >
				<h2 class="section-heading">Contact The Band</h2>
				<hr class="primary">
				<p id="contact_info">Want to book us for a show? Give us a call or send us an email and we will get back to you as soon as possible!</p>
				<form name="contact_quote_form" id="contact_quote_form" ng-submit="contactQuote()">
					<div class="row">
						<div class="col-md-2 text-right" >
							Name:
							</div>
						<div class="col-md-4 text-left" >
							<input type="text" id="name" name="name" class="contact_form_element" ng-model="name" required>
							<br>
							<span class="form_error" ng-show="contact_quote_form.name.$dirty && contact_quote_form.name.$invalid">
								<span ng-show="contact_quote_form.name.$error.required">name is required.</span>
							</span>
						</div>
						<div class="col-md-2 text-right" >
							Email:
						</div>
						<div class="col-md-4 text-left" >
							<input type="email" id="email" name="email" class="contact_form_element" ng-model="email" required>
							<br>
							<span class="form_error" ng-show="contact_quote_form.email.$error.email">
								A valid email is required.
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 text-right" >
							Gig Date:
						</div>
						<div class="col-md-4 text-left" >
							<input type="date" id="date" name="date" class="contact_form_element" ng-model="requestedDate" required>
							<br>
							<span class="form_error" ng-show="contact_quote_form.date.$dirty && contact_quote_form.date.$invalid">
								<span ng-show="contact_quote_form.date.$error.required">Enter a valid date</span>
							</span>
						</div>
						<div class="col-md-2 text-right" >
							Set Length:
						</div>
						<div class="col-md-4 text-left" >
							<select name="set_length" class="contact_form_element" ng-model="setLength" required>
								<option value=1>1 hour</option>
								<option value=2>2 hours</option>
								<option value=3>3 hours</option>
							</select>
							<span class="form_error" ng-show="contact_quote_form.event_type.$dirty && contact_quote_form.event_type.$invalid">
								<span ng-show="contact_quote_form.event_type.$error.required">Choose a set length</span>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 text-right" >
							Special Requirements
						</div>
						<div class="col-md-10 text-left" >
							<textarea rows="4" cols="70" class="contact_form_element" ng-model="specialRequirements"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center" >
							<button id="contact_send_btn" class="btn form_button" ng-disabled="contact_quote_form.$invalid">Send</button>
						</div>
					</div>
				</form>
				<div class="row" id="spinning">
					<div class="col-md-12">
						<i class="fa fa-spinner fa-spin loading_spinner" ></i>
					</div>
				</div>
				<div class="row" id="quote">
					<div class="col-md-2 text-left" >&nbsp;</div>
					<div class="col-md-8 text-left">
						<div class="row" id="quote_string">
							<div class="col-md-12" ></div>
						</div>
						<div class="row" id="quote_action_buttons">
							<div class="col-md-12" >
								<button id="confirm_booking" class="btn form_button">Confirm Booking</button>
								<button id="cancel_booking_request" class="btn form_button">Cancel</button>
							</div>
						</div>
					</div>
					<div class="col-md-2 text-left" >&nbsp;</div>
				</div>
				<div class="row" id="booked">
					<div class="col-md-12 text-center" id="booking_confirmed"></div>
				</div>
			</div>
		</div>
		<div class="row" id="contactsRow">
			<div class="col-lg-3  text-center">
				<i class="fa fa-phone fa-3x sr-contact" data-sr-id="9"></i>
				<p>085 171 5286</p>
			</div>
			<div class="col-lg-3 text-center" id="email-request">
				<i class="fa fa-envelope-o fa-3x sr-contact" data-sr-id="10"></i>
				<p >Email for a Quote</p>
			</div>
			<div class="col-lg-3 text-center">
				<a href="https://www.facebook.com/NightBlind.Band/" target="_blank">
					<i class="fa fa-3x fa-facebook-square text-primary sr-contact" data-sr-id="5"></i>
					<p>
						Find us on Facebook
					</p>
				</a>
			</div>
			<div class="col-lg-3 text-center">
				<a href="https://soundcloud.com/nightblind-band" target="_blank">
					<i class="fa fa-3x fa-soundcloud text-primary sr-contact" data-sr-id="5"></i>
					<p>
						Soundcloud
					</p>
				</a>
			</div>
		</div>
	</div>
</section>