<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Contact The Band
					<!--<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>-->
				</h2>
				<hr class="primary">
				<p>
					Want to book us for a show? Give us a call or send us an email and we will get back to you as soon as possible!
				</p>	
			</div>
		</div>
		<div class="row" id="contactsRow">
			<div class="col-lg-3  text-center">
				<i class="fa fa-phone fa-3x sr-contact" data-sr-id="9"></i>
				<p>085 171 5286</p>
			</div>
			<div class="col-lg-3 text-center">
				<i class="fa fa-envelope-o fa-3x sr-contact" data-sr-id="10"></i>
				<p>
					<a href="mailto:cormac.music@gmail.com">cormac.music@gmail.com</a>
				</p>
			</div>
			<div class="col-lg-3 text-center">
				<a href="https://www.facebook.com/NightBlind.Band/" target="_blank">
					<i class="fa fa-3x fa-facebook-square text-primary sr-contact" data-sr-id="5"></i>
					<p>
						Find us on Facebook
					</p>
				</a>
			</div>
			<div class="col-lg-3 text-center">
				<a href="https://soundcloud.com/nightblind-band" target="_blank">
					<i class="fa fa-3x fa-soundcloud text-primary sr-contact" data-sr-id="5"></i>
					<p>
						Soundcloud
					</p>
				</a>
			</div>
		</div>
	</div>
</section>