<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Gallery
					<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 text-center">
				<a href="#/gallery_live" class="thumbnail">
					<img src=".." alt="...">
					<div class="caption">
						<h3 class="section-heading">Live Photos</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-4 text-center">
				<a href="#/gallery_studio" class="thumbnail">
					<img src=".." alt="...">
					<div class="caption">
						<h3 class="section-heading">Studio Photos</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-4 text-center">
				<a href="#/gallery_artwork" class="thumbnail">
					<img src=".." alt="...">
					<div class="caption">
						<h3 class="section-heading">Artwork</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>