<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Gallery</h2>
			</div>
		</div>
		<hr class="primary">
	</div>
	<div class="container" ng-controller="GalleryController">
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<!--<div class="service-box">-->
				
					<div class="thumb" id="cormacThumb">
						<a href="#gallery?scrollTo=gallery_live">
							<i class="fa fa-4x fa-camera" aria-hidden="true"></i>
							<!--<i class="fa fa-4x fa-thermometer-1 text-primary sr-icons" data-sr-id="2"></i>-->
							<div class="caption">
								<h3>Live Images</h3>
							</div>
						</a>
					</div>
				
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="hughThumb">
						<a href="#gallery?scrollTo=gallery_studio">
							<i class="fa fa-4x fa-camera-retro" aria-hidden="true"></i>
							<!--<i class="fa fa-4x fa-thermometer-2 text-primary sr-icons" data-sr-id="3"></i>-->
							<h3>Studio Images</h3>
						</a>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="davyThumb">	
						<a href="#gallery?scrollTo=gallery_artwork">
							<i class="fa fa-4x fa-paint-brush" aria-hidden="true"></i>
							<!--<i class="fa fa-4x fa-thermometer-3 text-primary sr-icons" data-sr-id="4"></i>-->
							<h3>Artwork</h3>
						</a>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>