<section id="member">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">member
					<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<!--<div class="service-box">-->
				<div class="thumb" id="cormacThumb">
					<!------>
					<a href="#/Cormac">
						<i class="fa fa-4x fa-caret-square-o-down" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-1 text-primary sr-icons" data-sr-id="2"></i>-->
						<div class="caption">
							<h3>Cormac Liston</h3>
						</div>
					</a>
					<p class="">Guitar - Vocals</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="thumb" id="hughThumb">
					<a href="#/Hugh">
						<i class="fa fa-4x fa-caret-square-o-left" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-2 text-primary sr-icons" data-sr-id="3"></i>-->
						<h3>Hugh O'Connor</h3>
					</a>
					<p class="">Guitar - Vocals</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="thumb" id="davyThumb">
					<a href="#/Davy">
						<i class="fa fa-4x fa-caret-square-o-up" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-3 text-primary sr-icons" data-sr-id="4"></i>-->
						<h3>Davy Dwyer</h3>
						
					</a>
					<p class="">Drums</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="thumb" id="freekThumb">
					<a href="#/Freek">
						<i class="fa fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-diamond text-primary sr-icons" data-sr-id="5"></i>-->
						<h3>Freek Vermeer</h3>
						
					</a>
					<p class="">Bass</p>
				</div>
			</div>
		</div>
		<div class="row"></div>
			<div class="col-lg-12 col-md-12 text-center" id="cormac">
				<h2>Cormac</h2>
				<h3>Instrument: Guitar and Vocals</h3>
				<p>
					Cormac has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="hugh">Hugh</div>
			<div class="col-lg-12 col-md-12 text-center" id="davy">Davy</div>
			<div class="col-lg-12 col-md-12 text-center" id="freek">Freek</div>
		</div>
	</div>
</section>