<section id="member" ng-controller="MemberController">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">member
					<a href="#home" class="anchorLink">
						<i class="fa fa-angle-double-up  sr-contact" data-sr-id="10"></i>
					</a>
				</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<!--<div class="service-box">-->
				<a href="">
					<div class="thumb" id="cormacThumb">
						<i class="fa fa-4x fa-caret-square-o-down" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-1 text-primary sr-icons" data-sr-id="2"></i>-->
						<div class="caption">
							<h3>Cormac</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="hughThumb">
						<i class="fa fa-4x fa-caret-square-o-left" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-2 text-primary sr-icons" data-sr-id="3"></i>-->
						<h3>Hugh</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="davyThumb">	
						<i class="fa fa-4x fa-caret-square-o-up" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-3 text-primary sr-icons" data-sr-id="4"></i>-->
						<h3>Davy</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="freekThumb">
						<i class="fa fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-diamond text-primary sr-icons" data-sr-id="5"></i>-->
						<h3>Freek</h3>
					</div>
				</a>
			</div>
		</div>
		<div class="row"></div>
			<div class="col-lg-12 col-md-12 text-center" id="cormac_details">
				<h2>Cormac Liston</h2>
				<h3>Instrument: Guitar and Vocals</h3>
				<p>
					Cormac has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="hugh_details">
				<h2>Hugh O'Connor</h2>
				<h3>Instrument: Guitar and Vocals</h3>
				<p>
					Cormac has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="davy_details">
				<h2>Davy Dwyer</h2>
				<h3>Drums</h3>
				<p>
					Davy has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="freek_details">
				<h2>Freek Vermeer</h2>
				<h3>Bass</h3>
				<p>
					Freek has played in many bands in many genres
				</p>
			</div>
		</div>
	</div>
</section>