<section id="member">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Members</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container" >
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="cormacThumb">
						<i class="fa fa-4x fa-caret-square-o-down" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-1 text-primary sr-icons" data-sr-id="2"></i>-->
						<div class="caption">
							<h3>Cormac</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="hughThumb">
						<i class="fa fa-4x fa-caret-square-o-left" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-thermometer-2 text-primary sr-icons" data-sr-id="3"></i>-->
						<h3>Hugh</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="davyThumb">
						<!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#davy_details">-->
							<i class="fa fa-4x fa-caret-square-o-up" aria-hidden="true"></i>
						<!--</button>-->
						<!--<i class="fa fa-4x fa-thermometer-3 text-primary sr-icons" data-sr-id="4"></i>-->
						<h3>Davy</h3>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<a href="">
					<div class="thumb" id="freekThumb">
						<i class="fa fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
						<!--<i class="fa fa-4x fa-diamond text-primary sr-icons" data-sr-id="5"></i>-->
						<h3>Freek</h3>
					</div>
				</a>
			</div>
		</div>
		<!--<div class="row" ng-controller="MemberController">
			<div class="col-lg-12 col-md-12 text-center" id="member_details">
				<h1>Member</h1>
				<div data-ng-repeat="member in memberArr" id="{{member.id}}_details" ng-hide="cormacThumb">
					<h2>Name: {{ member.name }}</h2>
					<h3>Instrument: {{ member.instrument}}</h3>
					<h3>Gear: {{ member.gear}}</h3>
				</div>

				<!--<ul>
					<li ng-repeat="member in members">
						<h2>{{ member.name }}</h2>
						<h3>{{ member.instrument}}</h3>
					</li>
				</ul>
				<h1>Member</h1>
				<h2>{{ name }}</h2>
				<h3>{{ instrument }}</h3>
				<h3>{{ gear }}</h3>-
			</div>
		</div>-->
		<div class="row" ng-controller="MemberController" >
			<div data-ng-repeat="member in memberArr" id="{{member.id}}_details" class="collapse">
				<h3>{{ member.name }}</h3>
				<div>
					<p>
						<h2>Name: {{ member.name }}</h2>
						<h3>Instrument: {{ member.instrument}}</h3>
						<h3>Gear: {{ member.gear}}</h3>
					</p>
				</div>
			</div>
		</div>
			<!--
			<div class="col-lg-12 col-md-12 text-center" id="cormac_details">
				<h2>Cormac Liston</h2>
				<h3>Instrument: Guitar and Vocals</h3>
				<p>
					Cormac has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="hugh_details">
				<h2>Hugh O'Connor</h2>
				<h3>Instrument: Guitar and Vocals</h3>
				<p>
					Cormac has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="davy_details">
				<h2>Davy Dwyer</h2>
				<h3>Drums</h3>
				<p>
					Davy has played in many bands in many genres
				</p>
			</div>
			<div class="col-lg-12 col-md-12 text-center" id="freek_details">
				<h2>Freek Vermeer</h2>
				<h3>Bass</h3>
				<p>
					Freek has played in many bands in many genres
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 text-center" id="member_details">
				<p>Title: {{ title }}</p>
				<p>Name: {{ name }}</p>
				<p>Instrument: {{ instrument }}</p>
				<p>Gear: {{ gear }}</p>
			</div>
		</div>
		-->
	</div>
</section>