<nav class="navbar navbar-fixed-top affix">
	<div class="container-fluid">
		<div class="navbar-header">
			<!--Brand and toggle get grouped for better mobile display-->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList" area-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="glyphicon glyphicon-arrow-down"></span>
				Menu
			</button>
			<a class="navbar-brand" href="#home?scrollTo=gallery">Back</a>
		</div>
	</div>
</nav>