<nav class="navbar navbar-fixed-top affix">
	<div class="container-fluid">
		<div class="navbar-header">
			<!--Brand and toggle get grouped for better mobile display-->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList" area-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="glyphicon glyphicon-arrow-down"></span>
				Menu
			</button>
			<a class="navbar-brand" href="#">Night Blind</a>

		</div>
		<div class="collapse navbar-collapse" id="myCollapsingList">
			<ul class="nav navbar-nav navbar-right">
				<li class="active anchorLink"><a href="#home" class="anchorLink">Home</a></li>
				<li><a href="#about" class="anchorLink">About</a></li>
				<li><a href="#member" class="anchorLink">Members</a></li>
				<li><a href="#gallery" class="anchorLink">Gallery</a></li>
				<li><a href="#music" class="anchorLink">Music</a></li>
				<li><a href="#video" class="anchorLink">Video</a></li>
				<li><a href="#contact" class="anchorLink">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>