<nav class="navbar navbar-fixed-top affix">
	<div class="container-fluid">
		<div class="navbar-header">
			<!--Brand and toggle get grouped for better mobile display-->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList" area-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="glyphicon glyphicon-arrow-down"></span>
				Menu
			</button>
			<a class="navbar-brand" href="#">Night Blind</a>
		</div>
		<div class="collapse navbar-collapse" id="myCollapsingList" data-ng-controller="NavController">
			<ul class="nav navbar-nav navbar-right">
				<!--<li data-ng-repeat="link in links">
					<a ng-click="scrollTo('{{link.href}}')" class="anchorLink">{{link.title}}</a>
				</li>-->
				<li><a ng-click="scrollTo('home')" class="anchorLink">Home</a></li>
				<li><a ng-click="scrollTo('about')" class="anchorLink">About</a></li>
				<li><a ng-click="scrollTo('member')" class="anchorLink">Members</a></li>
				<li><a ng-click="scrollTo('gallery')" class="anchorLink">Gallery</a></li>
				<li><a ng-click="scrollTo('music')" class="anchorLink">Music</a></li>
				<li><a ng-click="scrollTo('video')" class="anchorLink">Video</a></li>
				<li><a ng-click="scrollTo('contact')" class="anchorLink">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>